/*FORMATOWANIE OBIEKTÓW - START*/
#calculator {
    position: relative;
    width: 460px;
    height: 660px;
    background-color: orange;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
}

#display {
    position: absolute;
    border: 5px solid #000;
    width: 380px;
    height: 80px;
    background-color: #3B3434;
    top: 35px;
    left: 35px;
    text-align: right;
    color: #fff;    
}

.display-content {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
/*    direction: rtl;*/
}
#memory-display {
    height: 20px;
    font-size: 20px;
}

#active-display {
    height: 60px;
    font-size: 50px;
}
.buttons {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 40px;
    box-shadow: 0 5px #999;
}

#zero-button {
    width: 180px;
}

.delete {
    background-color: #24B4DE;
}

.operators {
    background-color: #333333;
}

#percent-button {
    background-color: #333333;
}

.numbers {
    background-color: #000033;
}

#equals-button {
    background-color: #17A927;
}

/*FORMATOWANIE OBIEKTÓW - END*/
/*POZYCJONOWANIE PRZYCISKOW - START*/

.row1 {
    top: 140px;
}

.row2 {
    top: 240px;
}

.row3 {
    top: 340px;
}

.row4 {
    top: 440px;
}

.row5 {
    top: 540px;
}

.col1 {
    left: 40px;
}

.col2 {
    left: 140px;
}

.col3 {
    left: 240px;
}

.col4 {
    left: 340px;
}

/*POZYCJONOWANIE PRZYCISKOW - END*/
/*EFEKT WCIŚNIĘCIA - START*/

.delete:hover {
    background-color: #187995;
}

.operators:hover {
    background-color: #222;
}

.numbers:hover {
    background-color: #171745;
}

#equals-button:hover {
    background-color: #0F701A;
}

.buttons:active {
    box-shadow: 0 2px #666;
    transform: translateY(3px);
}

/*EFEKT WCIŚNIĘCIA - END*/

