.portfolio-frame {
    height: 400px;
    margin-bottom: 30px;
}

.portfolio-image-frame {
    height: 75%;
    width: 100%;
    overflow: hidden;
}

.portfolio-images {
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
    @include standard-image;
}

.portfolio-images:hover {
    transform: scale3d(1.4, 1.4, 1);
}

#portfolio-img-1 {
    background-image: url(../img/portfolio/slider.png);
    background-position: bottom right;
}

#portfolio-img-2 {
    background-image: url(../img/portfolio/calculator.png);
    background-position: bottom center;
}

#portfolio-img-3 {
    background-image: url(../img/portfolio/bitcoin-exchange-rate.png);
    background-position: center center;
}

#portfolio-img-4 {
    background-image: url(../img/portfolio/memory.png);
    background-position: center center;
}

.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(10, 158, 254, 0.4);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.mask i {
    color: #fff;
    position: relative;
    top: 50%;
    font-size: 40px;
    transform: translateY(-50%);
}

.mask:hover {
    opacity: 1;
}

.portfolio-description {
    height: 25%;
    width: 100%;
    background-color: #ddd;
    text-align: center;
}

.portfolio-description h4 {
    padding-top: 15px;
}

.portfolio-description p {
    font-style:italic;
}
