body {
    margin: 0;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


#container {
    position: relative;
    width: 700px;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}


#score-board {
    position: absolute;
    height: 220px;
    width: 300px;
/*    background-color: #000;*/
    font-size: 30px;
    font-weight: bold;
    top: 0;
    left: 180px;
}

h1 {
    color: #000;
    font-family: 'Pacifico', cursive;
    margin: 0;
}

#player1 {
    font-family: 'Play', sans-serif;
    position: absolute;
    height: 105px;
    width: 100px;
    color: #000;
    top: 10px;
    left: 250px;
    font-size: 80px;
}

#player2 {
    font-family: 'Play', sans-serif;
    position: absolute;
    height: 105px;
    width: 100px;
    color: #000;
    top: 115px;
    left: 250px;
    font-size: 80px;
}

#game-container{
    width: 625px;
    height: 625px;
    position: relative;
/*    left: 40%;*/
    top: 220px;
/*
    border: 8px solid #000;
    border-radius: 10px;
*/
}

.row {
    position: absolute;
    width: 625px;
    height: 105px;
/*    background-color: #666;*/
}
.kafelek {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #fff;
    display: inline-block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.mask {
    height: 100%;
    width: 100%;
    background-color: #333;
    border-radius: 10px
}

.bat{
    background-image: url(../img/bat.png);
}

.blowfish{
    background-image: url(../img/blowfish.png);
}

.buffalo{
    background-image: url(../img/buffalo.png);
}

.camel{
    background-image: url(../img/camel.png);
}

.cat{
    background-image: url(../img/cat.png);
}

.chick{
    background-image: url(../img/chick.png);
}

.dog {
    background-image: url(../img/dog.png);
}

.dragon{
    background-image: url(../img/dragon.png);
}

.elephant {
    background-image: url(../img/elephant.png);
}

.fish {
    background-image: url(../img/fish.png);
}

.goat {
    background-image: url(../img/goat.png);
}

.koala {
    background-image: url(../img/koala.png);
}

.mouse {
    background-image: url(../img/mouse.png);
}

.octopus {
    background-image: url(../img/octopus.png);
}

.owl {
    background-image: url(../img/owl.png);
}

.ox {
    background-image: url(../img/ox.png);
}

.pig {
    background-image: url(../img/pig.png);
}

.whale {
    background-image: url(../img/whale.png);
}
