#score-board {
    height: 100px;
    width: 300px;
    background-color: #000;
    font-size: 30px;
    font-weight: bold;
}

#player1 {
    position: relative;
    height: 50px;
    width: 100px;
    background-color: #fff;
    margin-left: 25px;
    top: 25px;
}

.kafelek {
    height: 200px;
    width: 200px;
    background-color: #fff;
    display: inline-block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.mask {
    height: 100%;
    width: 100%;
    background-color: #000;
}

.cat{
    background-image: url(../img/cat.png);
}

.dog {
    background-image: url(../img/dog.png);
}

.cow {
    background-image: url(../img/cow.png);
}

.frog {
    background-image: url(../img/frog.png);
}

.mouse {
    background-image: url(../img/mouse.png);
}

.elephant {
    background-image: url(../img/elephant.png);
}

.fox {
    background-image: url(../img/fox.png);
}

.snake {
    background-image: url(../img/snake.png);
}