/*GLOBAL-STYLES-START*/

span {
    color: #0A9EFE;
}

section {
    padding-bottom: 100px;
}

.section-header {
    padding: 50px 0;
}

.section-icon {
    font-size: 60px;
    background-color: #0A9EFE;
    color: #fff;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    line-height: 90px;
    border: 1px solid #0A9EFE;
    margin-bottom: 10px;
    transition: transform .6s ease-in-out;
}

.section-icon:hover {
    background-color: #fff;
    color: #0A9EFE;
    transform: rotate(360deg);
}

/*GLOBAL-STYLES-END*/

/*NAVIGATION-STYLES-START*/

#main-nav a {
    color: #fff;
    font-size: 25px;
}

#main-nav {
    transition: all 0.3s linear;
}

.nav-scroll{
    background-color: rgba(10, 158, 254, 0.5);
}

/*NAVIGATION-STYLES-END*/

/*HEADER-STYLES-START*/

#main-header {
    height: 850px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/header/laptop_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

#main-header-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-family: 'Nunito', sans-serif;
}

#main-header h1 {
    font-size: 100px;
}

/*HEADER-STYLES-END*/

/*ABOUT-STYLES-START*/

#my-photo {
    background-image: url(../img/about/maciej-wydrych.jpg);
    width: 350px;
    height: 350px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0 auto;
}

#about-description {
    font-size: 20px
}

/*ABOUT-STYLES-END*/

/*SKILLS-STYLES-START*/

#skills {
    background-color: #eee;
}

/*SKILLS-STYLES-END*/

/*PORTFOLIO-STYLES-START*/

.portfolio-frame {
    height: 400px;
    margin-bottom: 30px;
}

.portfolio-image-frame {
    height: 75%;
    width: 100%;
    overflow: hidden;
}

.portfolio-images {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
}

.portfolio-images:hover {
    transform: scale3d(1.4, 1.4, 1);
}

#portfolio-img-1 {
    background-image: url(../img/portfolio/slider.png);
    background-position: bottom right;
}

#portfolio-img-2 {
    background-image: url(../img/portfolio/calculator.png);
    background-position: bottom center;
}

#portfolio-img-3 {
    background-image: url(../img/portfolio/bitcoin-exchange-rate.png);
    background-position: center center;
}

#portfolio-img-4 {
    background-image: url(../img/portfolio/memory.png);
    background-position: center center;
}

.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(10, 158, 254, 0.4);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.mask i {
    color: #fff;
    position: relative;
    top: 50%;
    font-size: 40px;
    transform: translateY(-50%);
}

.mask:hover {
    opacity: 1;
}

.portfolio-description {
    height: 25%;
    width: 100%;
    background-color: #ddd;
    text-align: center;
}

.portfolio-description h4 {
    padding-top: 15px;
}

.portfolio-description p {
    font-style:italic;
}

/*PORTFOLIO-STYLES-END*/

/*CONTACT-STYLES-START*/

#contact {
/*    height: 500px;*/
    background-image: url(../img/contact/keyboard-2923535_1920.jpg);
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
    color: #fff;
}

#contact .my-contact, #contact .form{
    padding-bottom: 30px;
}

.my-contact i {
    color: #0A9EFE;
    font-size: 20px;
}

.my-contact p {
    margin-bottom: 10px;
    font-size: 20px
}

#email-link {
    text-decoration: none;
    color: #fff;
}

#email-link:hover {
    color: #aaa;
}


.input {
    border: 0;
    margin-bottom: 51px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
}

.last-input {
    margin: 0;
}

.textarea {
    height: 252px;
}

#social-links i{
    font-size: 50px;
    padding: 0 20px
}

.btn {
    background-color: #0A9EFE;
    color: #fff;
    font-weight: bold;
}
/*CONTACT-STYLES-END*/

/*FOOTER-STYLES-START*/

#footer {
    background-color: #022F4B;
}

#footer p {
    margin: 0;
    color: #fff;
    font-weight: bold;
}

/*FOOTER-STYLES-END*/
